<?xml version="1.0" encoding="windows-1252" ?>
<adfc-mobile-config xmlns="http://xmlns.oracle.com/adf/controller" version="1.0">
  <task-flow-definition id="SpringboardTF">
    <default-activity>SpringboardPG</default-activity>
    <managed-bean id="__1">
      <managed-bean-name>SpringboardBean</managed-bean-name>
      <managed-bean-class>deloitte.retail.mobile.beans.SpringboardBean</managed-bean-class>
      <managed-bean-scope>pageFlow</managed-bean-scope>
    </managed-bean>
    <view id="SpringboardPG">
      <page>/pages/SpringboardPG.amx</page>
    </view>
    <page-flow-scope-behavior>
      <push-new/>
    </page-flow-scope-behavior>
  </task-flow-definition>
</adfc-mobile-config>
